<aside>
  <picture>
    <img src="../../assets/img/logo-hotel.png" id="logo" />
  </picture>
  <section>
    <div class="options">
      <p [routerLink]="['/dashboard']" routerLinkActive="active">
        <img src="../../assets/icon/homepage.png" />Dashboard
      </p>
      <p><img src="../../assets/icon/grid.png" />Explore City</p>
      <p><img src="../../assets/icon/notification.png" />Notification</p>
      <p><img src="../../assets/icon/like.png" />Favorite</p>
      <p><img src="../../assets/icon/setting.png" />Settings</p>
    </div>
    <div class="ads">
      <img src="../../assets/img/ads/off-45-percent.png" alt="" />
    </div>
    <div class="exit-option">
      <p><img src="../../assets/icon/logout.png" alt="" />Log out</p>
    </div>
  </section>
</aside>
