@import "../../styles.scss";

aside {
  background-color: $background-aside;
  height: 100vh;
  max-width: 13rem;
  width: 13rem;
  box-shadow: 1px 0px 80px rgba(0, 0, 0, 0.185);

  picture {
    display: flex;
    justify-content: center;
    #logo {
      width: 9rem;
      height: 4rem;
      margin-top: 1rem;
    }
  }

  section {
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ads {
    display: flex;
    align-items: center;
    img {
      width: 80%;
      border-radius: 10%;
    }
  }

  .options,
  .exit-option,
  .ads {
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      text-decoration: none;
      align-items: center;
      padding: 0.7rem 0rem 0.7rem 1rem;
      margin: 0.7rem 0 0.7rem 2rem;
      font-size: 14px;
      color: $white-aside;
      font-weight: 600;
      cursor: pointer;
      &.active {
        color: $blue;
        img {
          filter: invert(50%) sepia(93%) saturate(5408%) hue-rotate(198deg)
            brightness(100%) contrast(109%);
        }
        background-color: #ececec;
        border-radius: 30px 0 0 30px;
      }
      img {
        width: 1.4rem;
        margin-right: 0.7rem;
        filter: invert(74%) sepia(0%) saturate(217%) hue-rotate(130deg)
          brightness(99%) contrast(85%);
      }
      &:hover {
        color: $blue;
        img {
          filter: invert(50%) sepia(93%) saturate(5408%) hue-rotate(198deg)
            brightness(100%) contrast(109%);
        }
        background-color: #ececec;
        border-radius: 30px 0 0 30px;
      }
    }
  }
}
