@import "../../styles.scss";

aside {
  background-color: $background-aside;
  height: 100vh;
  max-width: 13rem;
  width: 13rem;
  box-shadow: 1px 0px 80px rgba(0, 0, 0, 0.185);

  picture {
    display: flex;
    justify-content: center;
    #logo {
      width: 9rem;
      height: 4rem;
      margin-top: 0.5rem;
    }
  }

  section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .options,
  .exit-option {
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      align-items: center;
      padding: 0.7rem 0rem 0.7rem 1rem;
      margin: 0.7rem 0 0.7rem 2rem;
      font-size: larger;
      color: $white-aside;
      font-weight: 500;
      cursor: pointer;
      img {
        width: 1.5rem;
        margin-right: 0.7rem;
        filter: invert(70%) sepia(8%) saturate(6%) hue-rotate(340deg)
          brightness(89%) contrast(87%);
      }
      &:hover {
        color: #007bff;
        img {
          filter: invert(50%) sepia(93%) saturate(5408%) hue-rotate(198deg)
            brightness(100%) contrast(109%);
        }
        background-color: #ececec;
        border-radius: 30px 0 0 30px;
      }
    }
  }
}
