<section *ngIf="hotel">
  <h2>{{ hotel.name }}</h2>
  <div class="imgs">
    <div class="main-pic">
      <img
        src="{{ endpointBackend }}files?filePath={{ profilePicture.url }}"
        alt="profile picture not found"
      />
    </div>
    <div class="others-pic">
      <img
        *ngFor="let picture of othersPictures | slice: 0:2"
        src="{{ endpointBackend }}files?filePath={{ picture.url }}"
        alt="picture not found"
      />
    </div>
  </div>
  <div class="options">
    <span
      style="font-weight: 600"
      (click)="setTab(tabs[0])"
      [ngClass]="{ 'disable-option': checkActiveTab(tabs[0]) }"
      >Overwiew</span
    >
    <span
      style="font-weight: 600"
      (click)="setTab(tabs[1])"
      [ngClass]="{ 'disable-option': checkActiveTab(tabs[1]) }"
      >Facilities</span
    >
    <span
      style="font-weight: 600"
      (click)="setTab(tabs[2])"
      [ngClass]="{ 'disable-option': checkActiveTab(tabs[2]) }"
      >Details</span
    >
    <span
      style="font-weight: 600"
      (click)="setTab(tabs[3])"
      [ngClass]="{ 'disable-option': checkActiveTab(tabs[3]) }"
      >Reviews</span
    >
  </div>
  <div class="info">
    <p id="description" *ngIf="activeTab == tabs[0]">
      {{ hotel.description }}
    </p>
    <p id="facilities" *ngIf="activeTab == tabs[1]">
      {{ hotel.facilities }}
    </p>
    <p id="details" *ngIf="activeTab == tabs[2]">
      {{ hotel.details }}
    </p>
    <p id="reviews" *ngIf="activeTab == tabs[3]">
      {{ "No reviews!" }}
    </p>
  </div>
  <h2>Location</h2>
  <app-map
    [ngStyle]="{ height: '20vh', margin: '1rem 0rem 1rem 0rem' }"
    [markers]="true"
    [options]="{
      center: [
        parseFloat(hotel.location.longitude),
        parseFloat(hotel.location.latitude)
      ],
      zoom: 13,
      zoomControl: false,
      attributionControl: false,
      dragging: false,
      height: '20vh'
    }"
  ></app-map>
  <div class="price-view">
    <button>${{ hotel.price }}<span>/night</span></button>
  </div>
</section>
<section id="not-found" *ngIf="!hotel">
  <p>No selected hotel</p>
</section>
